@model IEnumerable<HospitalSystem.Data.Identity.ApplicationUser>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="panel-body">
        <div class="timeline-messages">
            <div class="msg-time-chat">
                <div class="message-body msg-in">
                    <span class="arrow"></span>
                    <div class="text">
                        <p class="attribution"> @item.RespondTitle </p>
                        <h4>@item.NameLastname - @item.UserName</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
