@model HospitalSystem.Entities.Models.PatientRoom
@{
    ViewBag.Title = "Hastaya Oda Ata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            @ViewBag.Title
                        </header>
                        <div class="panel-body">
                            <div class="form">
                                <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="">
                                    @using (Html.BeginForm("CreatePatientRoom", "Patient", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-group ">
                                            <label for="firstname" class="control-label col-lg-2">Kat Numarası</label>
                                            <div class="col-lg-10">
                                                <input class=" form-control" id="firstname" name="FloorNumber" type="text" required />
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="firstname" class="control-label col-lg-2">Oda Numarası</label>
                                            <div class="col-lg-10">
                                                <input class=" form-control" id="firstname" name="RoomNumber" type="text" required />
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="form-group">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <button class="btn btn-primary" type="submit">Odayı Ata</button>
                                                <a href="~/Patient/Index"><button class="btn btn-danger" type="button">İptal Et</button></a>
                                            </div>
                                        </div>
                                    }
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
</section>